@model GiftViewModel

<div asp-validation-summary="All"></div>
<div class="grid grid-cols-5 marginLeftSpace">
    <div>
        <label class = "generalLabel" asp-for="Title"></label>
        <input class = "generalInput block w-full" type="text" asp-for="Title" />
    </div>
    <div>
        <label class = "generalLabel" asp-for="Description"></label>
        <input class = "generalInput block w-full" type="text" asp-for="Description" />
    </div>
    <div>
        <label class = "generalLabel" asp-for="Url"></label>
        <input class = "generalInput block w-full" type="text" asp-for="Url" />
    </div>
    <div>
        <label class = "generalLabel" asp-for="Priority"></label>
        <input class = "generalInput block w-full" type="text" asp-for="Priority" />   
    </div>
    <div>
        <label class = "generalLabel" asp-for="UserId"></label>
            <select class="generalInput block" asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
                <option>Please select one</option>
            </select>
    </div>
</div>