@model GiftViewModel

@{
    ViewBag.Title = "Gift Creation";
}

<form asp-controller="Gifts" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <div class ="m-5">
        <button class="btn">Create</button>
        <button class="btn inline-block">
            <a asp-controller="Gifts"asp-action="Index">Cancel</a>
        </button>
    </div>
</form>
