@model GiftViewModel

@{
    ViewBag.Title = "Gift Creation";
}

<form asp-controller="Gifts" asp-action="Create" method="post">
    <section>
        @await Html.PartialAsync("_CreateOrEdit")
    </section>
    <div class ="m-5">
        <button class="btn">Create</button>
        <button class="btn">
            <a class="inline-block" asp-controller="Gifts"asp-action="Index">Cancel</a>
        </button>
    </div>
</form>
