@model List<GiftViewModel>

@{int counter = 0;}
<section class="grid grid-cols-1 md:grid-cols-3">
@foreach(var groupViewModel in Model) {
    <section class = "border-green-500 border-2 p-3 m-3 rounded-lg marginLeftSpace marginLeftSpace">
        <a asp-action="Edit" asp-route-id=@counter>
            <label class = "generalLabel generalHoverEffect">@groupViewModel.Title</label> 
        </a>
        <div>
            <a class="underlinedText" asp-action="Edit" asp-route-id=@counter>Edit</a>
            <form class="inline-block" asp-action="Delete" asp-route-id=@counter method="post">
                <button onclick="return confirm('Are you sure you want to delete @groupViewModel.Title')">X</button>
            </form>
        </div>
        @{counter++;}
    </section>
}
</section>
<a class="generalButton marginTopSpace marginLeftSpace" asp-action="Create">Create</a>