<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>SecretSanta -  @ViewBag.Title</title>
        <!-- Stylesheets begin here -->
        <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
        <!-- Stylesheets have ended -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
        @RenderBody()

        <!-- Scripts begin here -->
        <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <!-- End Scripts -->
    </body>
</html>