<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
    
    <!-- Cal: Styles can go here if you dont want to put them in the css file. Place inbetween <style> tags-->
    <!-- Cal: Can use syntax nav>ul>li>a{} to get specific changes.-->
</head>
<body>
    <!-- Cal: the flex is used for inlining. Flex defaults to a row so use flex-col to set up columns-->
    <header class="nav_background text-white flex flex-col sm:flex-row justify-between">
        <a class="text-xl font-bold px-6 leading-10" asp-controller="Home" asp-action="Index">Secret Santa</a>
        <nav>
        <ul class = "flex flex-col sm:flex-row">
            <li><a class="sm:px-6 leading-10" asp-controller="Users" asp-action="Index">Users</a></li>
            <li><a class="sm:px-6 leading-10" asp-controller="Groups" asp-action="Index">Groups</a></li>
            <li><a class="sm:px-6 leading-10" asp-controller="Gifts" asp-action="Index">Gifts</a></li>

            <!-- Cal: this is being saved here for an old but working example without responsiveness.-->
            <!-- <li><a class="inline-block p-6 leading-10" asp-controller="Users" asp-action="Index">Users</a></li> -->
        </ul>
    </nav>
    </header>
    
    @RenderBody()

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <!-- End Scripts -->
</body>
</html>