@model GroupViewModel

<div asp-validation-summary="All"></div>
<div class = "marginLeftSpace">
    <label class = "generalLabel" asp-for="Name"></label>
    <input class = "generalInput block" type="text" asp-for="Name" /> 
</div>