@model GroupViewModel

<form asp-controller="Groups" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class = "generalButton">Create</button>
    <a class = "underlinedText inline-block" asp-controller="Groups" asp-action="Index">Cancel</a>
</form>