@model List<GroupViewModel>

@{int counter = 0;}

@foreach(var groupViewModel in Model) {
    <section class = "grid grid-cols-2 marginLeftSpace">
        <label class = "generalLabel w-full">@groupViewModel.Name</label> 
        <div>
            <a class = "underlinedText" asp-action="Edit" asp-route-id=@counter>Edit</a>
            <form class="inline-block" asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
        </div>
        @{counter++;}
    </section>
}
<a class="generalButton marginTopSpace marginLeftSpace" asp-action="Create">Create</a>