@model UserViewModel

<div asp-validation-summary="All"></div>
<div class="grid grid-cols-2">
    <div class="w-1/2">
        <label class="generalLabel" asp-for="FirstName"></label>
        <input class="generalInput" type="text" asp-for="FirstName" />
    </div>
    <div class="w-1/2">
        <label class="generalLabel" asp-for="LastName"></label>
        <input class = "generalInput" type="text" asp-for="LastName" />
    </div>
</div>