@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class ="generalButton">Create</button>
    <a class = "underlinedText" asp-controller="Users" asp-action="Index">Cancel</a>
</form>