@model UserViewModel

@{
    ViewBag.Title = "User Creation";
}

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Create</button>
    <button class="btn inline-block">
        <a asp-controller="Users" asp-action="Index">Cancel</a>
    </button>
</form>