@model UserViewModel

@{
    ViewBag.Title = "User Edit";
}

<form asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <div class="m-5">
        <button class="btn">Update</button>
        <button class="btn inline-block">
            <a asp-controller="Users" asp-action="Index">Cancel</a>
        </button>
    </div>
</form>