@model UserViewModel

<form asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class='generalButton'>Update</button>
    <a class='generalButton inline-block' asp-controller="Users" asp-action="Index">
        Cancel
    </a>
</form>